[user]
	name = freemty
	email = yangyuanbo04@gamil.com
[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[http "https://github.com"]
	proxy = socks5://127.0.0.1:7890
[https "https://github.com"]
	proxy = socks5://127.0.0.1:1086
[http]
	proxy = http://127.0.0.1:7890
	sslVerify = false
	postBuffer = 524288000
[https]
	proxy = http://127.0.0.1:7890
[credential]
	helper = store
[url "https://git:olp_6k72jtn2ZypWcgUKQq7bwsj8ZWNlqo0oAp2m@git.overleaf.com/"]
	insteadOf = https://git.overleaf.com/
